USE [master]
GO
/****** Objeto: Database [DBPedidos] Fecha de script: 22/04/2026 13:33:12 ******/
CREATE DATABASE [DBPedidos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBPedidos', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\DBPedidos.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBPedidos_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\DBPedidos_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBPedidos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBPedidos]
GO
/****** Objeto: Table [dbo].[Opcion] Fecha de script: 22/04/2026 13:33:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Opcion](
	[IdOpcion] [int] IDENTITY(1,1) NOT NULL,
	[NombreOpcion] [varchar](50) NULL,
	[UrlOpcion] [varchar](50) NULL,
	[RutaImagen] [varchar](50) NULL,
	[NroOrden] [int] NULL,
	[IdOpcionRef] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdOpcion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Usuario] Fecha de script: 22/04/2026 13:33:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[CodUsuario] [varchar](50) NULL,
	[Clave] [varbinary](max) NULL,
	[Nombres] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([IdUsuario], [CodUsuario], [Clave], [Nombres]) VALUES (1, N'admin', NULL, N'Administrador')
INSERT [dbo].[Usuario] ([IdUsuario], [CodUsuario], [Clave], [Nombres]) VALUES (2, N'Prueba 1', 0x54B688A517F7654563A6C64D945A3670880A4C602EC67A065BBEBBCD2B22EDD5, N'Pueba 1')
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
/****** Objeto: StoredProcedure [dbo].[paUsuario_insertar] Fecha de script: 22/04/2026 13:33:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[paUsuario_insertar]
    @CodUsuario VARCHAR(50),
    @Clave VARBINARY(32),
    @Nombres VARCHAR(50)
AS
BEGIN
    INSERT INTO Usuario (CodUsuario, Clave, Nombres)
    VALUES (@CodUsuario, @Clave, @Nombres)
END
GO
/****** Objeto: StoredProcedure [dbo].[paUsuarioActualizar] Fecha de script: 22/04/2026 13:33:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento para actualizar usuario
CREATE PROCEDURE [dbo].[paUsuarioActualizar]
    @IdUsuario INT,
    @CodUsuario VARCHAR(50),
    @Nombres VARCHAR(50),
    @Clave VARBINARY(32) = NULL
AS
BEGIN
    UPDATE Usuario
    SET CodUsuario = @CodUsuario,
        Nombres = @Nombres,
        Clave = ISNULL(@Clave, Clave)
    WHERE IdUsuario = @IdUsuario
END
GO
/****** Objeto: StoredProcedure [dbo].[paUsuarioBuscar] Fecha de script: 22/04/2026 13:33:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento para buscar usuario por ID
CREATE PROCEDURE [dbo].[paUsuarioBuscar]
    @IdUsuario INT
AS
BEGIN
    SELECT IdUsuario, CodUsuario, Nombres
    FROM Usuario
    WHERE IdUsuario = @IdUsuario
END
GO
/****** Objeto: StoredProcedure [dbo].[paUsuarioEliminar] Fecha de script: 22/04/2026 13:33:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento para eliminar usuario
CREATE PROCEDURE [dbo].[paUsuarioEliminar]
    @IdUsuario INT
AS
BEGIN
    DELETE FROM Usuario WHERE IdUsuario = @IdUsuario
END
GO
/****** Objeto: StoredProcedure [dbo].[paUsuarioLista] Fecha de script: 22/04/2026 13:33:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[paUsuarioLista]
AS
BEGIN
    SELECT IdUsuario, CodUsuario, Nombres FROM Usuario
END
GO
USE [master]
GO
