@* Menú fijo simple - sin dependencias *@

<a class="nav-link" href="/Usuario">
    <i class="fas fa-users"></i> Usuarios
</a>
<a class="nav-link" href="#">
    <i class="fas fa-cog"></i> Mantenimiento
</a>
<a class="nav-link" href="#">
    <i class="fas fa-chart-bar"></i> Reportes
</a>
<a class="nav-link" href="#">
    <i class="fas fa-shield-alt"></i> Seguridad
</a>